body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root {
    display: flex;
    flex-flow: column;
    min-width: 100%;
    min-height: 100vh;
}

.main {
    flex: 1;
}

html {
    overflow: overlay;
}

/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #80cbc4;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    height: 20px;*/
/*    border-radius: 8px;*/
/*}*/

/*::-webkit-scrollbar {*/
/*    width: 13px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    width: 13px;*/
/*    height: 20px;*/
/*    background: #80cbc4;*/
/*}*/

